#app {
    font-family: Poppins, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-step {
    width: 900px;
    margin: 0 auto;
}

.progress-border {
    width: 100%;
    height: 18px;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.progress-content {
    height: 100%;
    background-color: #437fe8;
    border-radius: 12px;
    transition: width .5s ease;
}

.form-step__wrap {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%), 6px 12px 20px rgb(0 0 0 / 10%);
    margin-top: 15px;
    padding: 20px;
}

.form-step__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title.success {
    border: 2px solid #32683c;
}

.title {
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #f3f3f3;
}

.number {
    display: inline-block;
    font-size: 16px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    color: #f7f7f7;
    background-color: #969899;
    margin-right: 8px;
}

.text {
    color: #8f9294;
    font-size: 14px;
    font-weight: 500;
}

.active {
    border: 2px solid #9fbcd7;
}

.form-control {
    text-align: left;
}

.form-control label {
    color: #000;
    font-size: 16px;
    display: block;
    margin-bottom: 6px;
}

.form-control input {
    color: #586068;
    font-size: 16px;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: 3px solid transparent;
    transition: all .2s ease;
}

.form-control input:focus {
    outline: 3px solid #c2d9fb;
    box-shadow: unset;
    border: 1px solid transparent;
}

.form-control input.error {
    box-shadow: 0 0 4px #f4b6c1;
    border: 1px solid #aa4651;
}

.form-control input.error:focus {
    outline: 3px solid #f4b6c1;
}

.form-control .message {
    color: #aa4651;
    font-size: 12px;
    margin-top: 8px;
}

.form-control+.form-control {
    margin-top: 12px;
}
.form-step__btns{
    margin-top: 50px;
}
.btn{
    display: inline-block;
    border: unset;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 40%);
    transition: box-shadow .35s ease-out
}
.btn.prev{
    background-color: #72e6b1;
}
.btn.next{
    background-color: #1e68cf;
}
.btn+.btn{
    margin-left: 16px;
}
.select{
    text-align: left;
}
.select__label{
    font-size: 16px;
    color: #000;
    padding-bottom: 10px;
}
.select__wrap{
    border: 1px solid #ccc;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}
.select__wrap:after {
    content: "";
    display: block;
    border: 4px solid transparent;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top: calc(50% + 3px);
    right: 22px;
    transform: translateY(-50%);
}
.select__title {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 12px;
}
.option__item {
    padding: 8px 16px;
    background-color: #fff;
    transition: background-color .2s ease-in;
}

.select__wrap.error {
    box-shadow: 0 0 4px #f4b6c1;
    border: 1px solid #aa4651;
}

.select__options {
    position: absolute;
    top: calc(100% + 1px);
    background-color: #fff;
    width: 100%;
    padding: 12px 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
    border-radius: 12px;
}

.select__error {
    color: #aa4651;
    font-size: 12px;
    margin-top: 8px;
}

.form-step .check-term {
    text-align: left;
    padding-top: 20px;
}
.form-step .check-term label {
    margin-left: 6px;
}
.form-step .check-term__error {
    color: #aa4651;
    font-size: 12px;
    margin-top: 8px;
}
.title.active {
    border: 2px solid #9fbcd7;
}
